<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="volver()"><ion-icon name="chevron-back-outline"></ion-icon>Volver</ion-button>
    </ion-buttons>
    <ion-title>Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title style="text-align: center;"> 
        <!-- <ion-icon name="card-outline"></ion-icon> -->
        {{cuenta.nombre}}:  ${{cuenta.saldo}}
      </ion-card-title>
      <!-- <ion-card-title>$ {{cuenta.saldo}}</ion-card-title> -->
    </ion-card-header>
  
    <!-- <ion-card-content>
    </ion-card-content> -->
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title *ngIf="movimientos?.length != 0" style="text-align: center ;">Últimos movimientos de {{cuenta.nombre}}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="movimientoscard">
      <h1 *ngIf="movimientos?.length == 0" style="padding-left: 20px;">Aquí se mostrarán los últimos movimientos realizados con esta cuenta. Comienza a registrar tus movimientos desde la pantalla de inicio</h1>
      <ion-list>
        <ion-item *ngFor="let movimiento of movimientos" [routerLink]="['/movimientos',movimiento.id]" [class.ingreso] = "movimiento.ingreso_egreso == true" [class.egreso] = "movimiento.ingreso_egreso == false">
            <ion-icon name="logo-usd" [class.icono-ingreso] = "movimiento.ingreso_egreso == true" [class.icono-egreso] = "movimiento.ingreso_egreso == false"></ion-icon>
          <ion-label class="gasto">{{movimiento.nombre}}</ion-label>
          <ion-label>$ {{movimiento.monto}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <div class="borrar">
    <ion-button class="botonb" (click)="presentActionSheet()" >
      <!-- <code *ngIf="result"> {{ result }} </code> -->
      <ion-icon name="trash-outline"></ion-icon> &nbsp;
      Borrar cuenta
    </ion-button>
  </div>

</ion-content>
