<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="volver()"><ion-icon name="chevron-back-outline"></ion-icon>Volver</ion-button>
    </ion-buttons>
    <ion-title>Movimiento</ion-title>
    <ion-buttons slot="end">
      <ion-button [strong]="true" [routerLink]="['/editar-movimiento',movimiento.id]">Editar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card class="movimiento2" lines="none">
      <ion-card-header>
        <ion-card-title style="text-align: center;">{{movimiento.nombre}}</ion-card-title>
      </ion-card-header>
        <ion-item>
          <ion-icon name="analytics-outline" slot="start"></ion-icon>
          <ion-label><h1 class="columna1">Tipo:</h1></ion-label>
          <ion-label *ngIf="movimiento?.ingreso_egreso == true"><h1>Ingreso</h1> </ion-label>
          <ion-label *ngIf="movimiento?.ingreso_egreso == false"><h1>Egreso</h1> </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="wallet-outline" slot="start"></ion-icon>
          <ion-label><h1 class="columna1">Monto:</h1></ion-label>
          <ion-label>
            <h1>$ {{movimiento.monto.toLocaleString('es-ES')}}</h1>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="card-outline" slot="start"></ion-icon>
          <ion-label>
            <h1 class="columna1">Cuenta:</h1>
          </ion-label>
          <ion-label>
            <h1>{{cuenta.nombre}}</h1>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="storefront-outline" slot="start"></ion-icon>
          <ion-label>
            <h1 class="columna1">Categoría:</h1>
          </ion-label>
          <ion-label>
          <h1>{{movimiento.categoria}}</h1>
        </ion-label>
        </ion-item>
    </ion-card>
<br>
<div class="borrar">
  <ion-button class="botonb" (click)="presentActionSheet()" >
    <!-- <code *ngIf="result"> {{ result }} </code> -->
    <ion-icon name="trash-outline"></ion-icon> &nbsp;
    Borrar movimiento
  </ion-button>
</div>
</ion-content>