.borrar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.botonb {
    width: 80vw;
    font-size:large;
}

code {
    white-space: pre-wrap;
  }

ion-card {
    margin: 5vw;
}

.columna1 {
    font-style: italic;
    font-size: 3vh;
}
  