<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Estadísticas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="header">
    <ion-toolbar>
      <ion-title size="large">Estadísticas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-body>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Saldo</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-header>
        <ion-card-title>Gastos</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-header>
        <ion-card-title>Flujos de fondos</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>
  </ion-body>
  
</ion-content>
