<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel_movimiento()">Cancel</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="confirm_movimiento()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <!--Selector ingreso/egreso-->
  <ion-item color="light">
    <ion-segment color="light" value="light" (ionChange)="nuevo_movimiento.ingreso_egreso=$event.target.value" >
      <ion-segment-button value="light" value="true">
        <ion-label>Ingreso</ion-label>
      </ion-segment-button>
      <ion-segment-button value="segment" value="false">
        <ion-label>Egreso</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-item>

   <!--Input monto de plata-->
  <ion-item color="light">
    <ion-label>ARS $</ion-label>
    <ion-input Type="number"color="" placeholder="Danger input" placeholder="" (change)="nuevo_movimiento.monto=$event.target.value"></ion-input>
  </ion-item>
  <ion-list>
    <ion-list-header>General</ion-list-header>
    
    <!--Input nombre movimiento-->
  <ion-item>
    <ion-label>Nombre</ion-label>
    <ion-input Type="text"color="" placeholder="Danger input" placeholder="" (change)="nuevo_movimiento.nombre=$event.target.value" class="text--input"></ion-input>
  </ion-item>

    <!--Selector de cuenta-->
    <ion-item>
      <ion-label>Cuenta</ion-label>
      <ion-select placeholder="Seleccione" (ionChange)="nuevo_movimiento.cuenta=$event.target.value  && cuenta.id=$event.target.value">
        <ion-select-option *ngFor="let cuenta of cuentas" value="{{cuenta.id}}">{{cuenta.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>

     <!--Selector de categoria-->
    <ion-item>
      <ion-label>Categoría</ion-label>
      <ion-select placeholder="Seleccione" (ionChange)="nuevo_movimiento.categoria=$event.target.value">
        <ion-select-option value="Comida y bebida">Comida y bebida</ion-select-option>
        <ion-select-option value="Compras">Compras</ion-select-option>
        <ion-select-option value="Vivienda">Vivienda</ion-select-option>
        <ion-select-option value="Transporte">Transporte</ion-select-option>
        <ion-select-option value="Vida y entretenimiento">Vida y entretenimiento</ion-select-option>
        <ion-select-option value="Comunicaciones">Comunicaciones, PC</ion-select-option>
        <ion-select-option value="Gastos financieros">Gastos financieros</ion-select-option>
        <ion-select-option value="Inversiones">Inversiones</ion-select-option>
      </ion-select>
    </ion-item>

    <!--Boton de fecha y hora-->
    <ion-item>
      <ion-label>Fecha y hora</ion-label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>
  </ion-list>  
  <ion-list>
    <ion-list-header>Mas detalles</ion-list-header>
    
     <!--Descripcion del movimiento-->
    <ion-item>
      <ion-label>Nota</ion-label>
      <ion-input placeholder="" type="text" class="text--input"></ion-input>
    </ion-item>

    <!--Beneficiario-->
    <ion-item>
      <ion-label>Beneficiario</ion-label>
      <ion-input placeholder="" type="text" class="text--input"></ion-input>
    </ion-item>

    <h3>ingreso: {{nuevo_movimiento.ingreso_egreso}}</h3>
    <h3>monto: ${{nuevo_movimiento.monto}}</h3>
    <h3>nombre: {{nuevo_movimiento.nombre}}</h3>
    <h3>cuenta: {{nuevo_movimiento.cuenta}}</h3>
    <h3>categoria: {{nuevo_movimiento.categoria}}</h3>
    <h3>cuenta update id: {{cuenta.id}}</h3>
    <h3>cuenta update nombre: {{cuentaModificar.nombre}}</h3>
    <h3>{{cuentaModificar}}</h3>
  </ion-list>  
</ion-content>