<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel_cuenta()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Welcome</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm_cuenta()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- Input nombre de cuenta -->
  <ion-item>
    <ion-label>Nombre</ion-label>
    <ion-input Type="text"color="" placeholder="Danger input" placeholder="" (change)="nueva_cuenta.nombre=$event.target.value" class="text--input"></ion-input>
  </ion-item>

  <!-- Input saldo de cuenta -->
  <ion-item>
    <ion-label>ARS $</ion-label>
    <ion-input Type="number"color="" placeholder="Danger input" placeholder="" (change)="nueva_cuenta.saldo=$event.target.value" class="text--input"></ion-input>
  </ion-item>

  <h1>Nombre: {{nueva_cuenta.nombre}}</h1>
  <h1>Saldo: $ {{nueva_cuenta.saldo}}</h1>

</ion-content>