ion-title {
    left: 8px;
}

.header {
    margin-top: 3vh;
}

.cuentas {
    display: flex;
    justify-content: space-evenly;
}

.cuentas1 {
    border-radius: 10px;
    width: 45vw;
    color: #fff;
    height: 95px;
}


ion-subtitle {
    width: 80px;
    top: 8px;
    margin-left: 20px;
}

ion-fab{
    width: 56px;
    height: 56px;
    margin-top: 15%;
    margin-left: 100%;
}

.verm {
    color: #3880FF;

}

.add-div {
    position:relative;
}

.agregar {
    position: fixed;
    right: 5vw;
    top: 79vh;
}
