ion-title {
    left: 8px;
}

.header {
}

.cuentas {
    margin-top: 0.5vh;
    display: flex;
    justify-content: space-evenly;
}

.cuentas1 {
    border-radius: 10px;
    width: 45vw;
    color: #fff;
    height: 95px;
}


ion-subtitle {
    width: 80px;
    top: 8px;
    margin-left: 20px;
}

ion-fab{
    width: 56px;
    height: 56px;
    margin-top: 15%;
    margin-left: 100%;
}

.verm {
    color: #3880FF;

}

.add-div {
    position:static;
    border-radius: 50%;
}

.agregar {
    position: fixed;
    right: 5vw;
    bottom: 1.5vh;
    height: 50px;
    width: 50px;
    margin-bottom: 25px;
    border-radius: 50%;
}

.iconos-cat {
    width: 4vh;
    margin-right: 2vw;
    position: relative;
    
}

.pesos {
    position:absolute;
}

.simbolop {
    position: relative;
    
}

.gastos {
    width: 1vh;
    margin: 2vh;
}
