ion-title {
    left: 8px;
}

.headeer {
    background-color:gainsboro;

}

.cuenta1 {
    border-radius: 10px;
    width: 220px;
    color: #fff;
    height: 95px;
    margin-top: 20px;
    margin-left: 20px;
    
}

.cuenta2{
    border-radius: 10px;
    width: 220px;
    height: 95px;
    margin-top: -105px;
    margin-left: 260px;

}


ion-subtitle {
    width: 80px;
    top: 8px;
    margin-left: 20px;
}

ion-fab{
    width: 56px;
    height: 56px;
    margin-top: 15%;
    margin-left: 100%;
}

.verm {
    color: #3880FF;

}

