<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="header">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
    </ion-header>

      <div class="cuentas">
        <ion-card class="cuentas1">
          <ion-item href="#" class="ion-activated" class="">
            <ion-icon name="card-outline" slot="start"></ion-icon>
            <ion-label>Banco</ion-label>
          </ion-item>
          <ion-item class="">
            <ion-label>$</ion-label>
          </ion-item>
        </ion-card>
        <ion-card class="cuentas1">
          <ion-item href="#" class="ion-activated" class="">
            <ion-icon name="cash-outline" slot="start"></ion-icon>
            <ion-label>Efectivo</ion-label>
          </ion-item>
          <ion-item class="">
            <ion-label>$</ion-label>
          </ion-item>
        </ion-card>
      </div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Ultimos movimientos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let movimiento of movimientos">
              <ion-icon name="fast-food" class="iconos-cat"></ion-icon>
            <ion-label class="gasto">{{movimiento.nombre}}</ion-label>
            <div class="simbolop">
            <ion-item>
             <ion-label class="pesos">$</ion-label>
            </ion-item>
          </div>
            <ion-label>{{movimiento.monto}}</ion-label>
          </ion-item>
          
        </ion-list>
      </ion-card-content>
    <ion-button fill="clear">Ver mas</ion-button>
    </ion-card>
    <ion-card>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>Saldo</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>

       <!--Pantalla de agregar movimiento-->
    <div class="add-div">
      <ion-button id="open-modal" expand="block" class="agregar">+</ion-button>
      <p>{{ message }}</p>
      <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="cancel()">Cancel</ion-button>
              </ion-buttons>
              <ion-buttons slot="end">
                <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <!--Selector ingreso/egreso-->
            <ion-item color="light">
              <ion-segment color="light" value="light">
                <ion-segment-button value="light">
                  <ion-label>Ingreso</ion-label>
                </ion-segment-button>
                <ion-segment-button value="segment">
                  <ion-label>Egreso</ion-label>
                </ion-segment-button>
              </ion-segment>
            </ion-item>
             <!--Input monto de plata-->
            <ion-item color="light">
              <ion-label>ARS $</ion-label>
              <ion-input Type="number"color="" placeholder="Danger input" placeholder=""></ion-input>
            </ion-item>
            <ion-list>
              <ion-list-header>General</ion-list-header>
              <!--Selector de cuenta-->
              <ion-item>
                <ion-label>Cuenta</ion-label>
                <ion-select placeholder="Seleccione">
                  <ion-select-option >Efectivo</ion-select-option>
                  <ion-select-option >Banco Galicia</ion-select-option>
                  <ion-select-option >Mercado Pago</ion-select-option>
                </ion-select>
              </ion-item>
               <!--Selector de categoria-->
              <ion-item>
                <ion-label>Categoría</ion-label>
                <ion-select placeholder="Seleccione">
                  <ion-select-option >Comida y bebida</ion-select-option>
                  <ion-select-option >Compras</ion-select-option>
                  <ion-select-option >Vivienda</ion-select-option>
                  <ion-select-option >Transporte</ion-select-option>
                  <ion-select-option >Vida y entretenimiento</ion-select-option>
                  <ion-select-option >Comunicaciones, PC</ion-select-option>
                  <ion-select-option >Gastos financieros</ion-select-option>
                  <ion-select-option >Inversiones</ion-select-option>
                </ion-select>
              </ion-item>
              <!--Boton de fecha y hora-->
              <ion-item>
                <ion-label>Fecha y hora</ion-label>
                <ion-datetime-button datetime="datetime"></ion-datetime-button>
                <ion-modal [keepContentsMounted]="true">
                  <ng-template>
                    <ion-datetime id="datetime"></ion-datetime>
                  </ng-template>
                </ion-modal>
              </ion-item>
            </ion-list>  
            <ion-list>
              <ion-list-header>Mas detalles</ion-list-header>
               <!--Descripcion del movimiento-->
              <ion-item>
                <ion-label>Nota</ion-label>
                <ion-input placeholder=""></ion-input>
              </ion-item>
              <!--Beneficiario-->
              <ion-item>
                <ion-label>Beneficiario</ion-label>
                <ion-input placeholder=""></ion-input>
              </ion-item>
              <ion-button color="dark" expand="full" fill="outline">Adjuntar foto</ion-button>
            </ion-list>  
          </ion-content>
        </ng-template>
      </ion-modal>
    </div>
      <!--Boton flotante-->
    <!-- <div class="add-div">
      <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="agregar">
        <ion-fab-button [routerLink]="['/movimientos']">
          <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div> -->
</ion-content>
