<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Configuración
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="header">
    <ion-toolbar>
      <ion-title size="large">Configuración</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-body>
    <ion-item class="profile">
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label class="name">
        Name
      </ion-label>
    </ion-item>

    <ion-list>
      <ion-item href="#" class="ion-activated">
        <ion-label>Perfil</ion-label>
      </ion-item>
      <ion-item href="#" class="ion-activated">
        <ion-label>Elegir moneda</ion-label>
      </ion-item>
      <ion-item href="#" class="ion-activated">
        <ion-label>Categorías</ion-label>
      </ion-item>
      <ion-item href="#" class="ion-activated">
        <ion-label>Notificaciones</ion-label>
      </ion-item>
      <ion-item href="#" class="ion-activated">
        <ion-label>Seguridad</ion-label>
      </ion-item>
      <ion-item href="#" class="ion-activated">
        <ion-label>Cerrar sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-body>
  

  
</ion-content>
