.ingreso {
    color: green;
  }

  .egreso {
    color: red;
  }

  .icono-ingreso {
    width: 4vh;
    margin-right: 2vw;
    position: relative;
    color: green;
}

.icono-egreso {
    width: 4vh;
    margin-right: 2vw;
    position: relative;
    color: red;
}