<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="volver()"><ion-icon name="chevron-back-outline"></ion-icon>Volver</ion-button>
    </ion-buttons>
    <ion-title>Movimientos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title style="text-align: center ;">Últimos movimientos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let movimiento of movimientos" [routerLink]="['/movimientos',movimiento.id]" [class.ingreso] = "movimiento.ingreso_egreso == true" [class.egreso] = "movimiento.ingreso_egreso == false">
            <ion-icon name="logo-usd" [class.icono-ingreso] = "movimiento.ingreso_egreso == true" [class.icono-egreso] = "movimiento.ingreso_egreso == false"></ion-icon>
          <ion-label class="gasto">{{movimiento.nombre}}</ion-label>
          <ion-label>$ {{movimiento.monto}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
